.articleList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 68px 28px;
    margin-top: -100px;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .articleList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .articleList {
        grid-template-columns: repeat(1, 1fr);
    }
}