.footer {
    height: 150px;
    background-color: #eee;
}

.footer .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.footer .content p {
    font-size: 18px;
    font-weight: bold;
}

.footer .content span {
    color: #25888e;
}

.footer .content .media{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 42px;
}

.footer .content .media a{
    color: #000;
    text-decoration: none;
}

.footer .content .media a:hover{
    color: #25888e;
    font-size: 110%;
}
